# .prettierignore
node_modules
__tests__/
.vscode/
android/
coverage/
ios/
.expo
.expo-shared
docs/
cli/

babel.config.js
metro.config.js
pnpm-lock.yaml
src/components/ui/**/*
assets/**/*
eslint.config.mjs
tailwind.config.js
tsconfig.json
.prettierrc.js
lint-staged.config.js

